nav {
  display: flex;

  background-color: #04073b;
  padding: 1%;
  height: 70px;
  border-style: solid;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

nav .logo {
  width: 6vw;
}

#brand-link {
  left: 0;
  height: 100%;
}

#brand-link a img {
  height: 60px;
  padding-top: 5px;
  padding-left: 20px;
}

#navLinks {
  right: -250px; /* Initially hidden */
  transition: right 0.5s ease-in-out;

  z-index: 9999; /* Ensure it appears above other elements */


  overflow: hidden;
  position: absolute;
  float: right;
  top: 0px;
  width: 150px;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  text-align: center;

  list-style: none;
  font-size: 1.5em;

  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding-top: 80px;
}

#navLinks a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
#navLinks a:hover {
  background-color: white;
  color: black;
  border-radius: 3%;
}


.social-media a {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.social-media a img {
  height: 60px;
  padding-top: 5px;
}

h1 {
  font-family: "Balsamiq Sans", sans-serif;
  text-align: center;
  padding: 1em;
}

@media screen and (max-width: 1612px) {

}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#burger-icon {
  height: 100%;
  background-color:#04073b;
  cursor: pointer; 
  padding-right: 10px;
}

#burger-icon:hover {
  opacity: 0.8; /* Example: Reduce opacity on hover */
}

.js-being-wack {
  font-family: "Balsamiq Sans", sans-serif;
}
