main {
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 0px;
}

.grid {
  border-color: orange;
  display: grid;
  grid-template-columns: repeat(2, 350px);
  gap: 150px;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body h1 {
  top: -30;
}

.profile {
  height: 450px;
  width: 350px;
}

.profile h2 {
  text-align: center;
}

.end-break {
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .grid {
    gap: 100px;
  }
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr; /* Change to a single column */
    gap: 20px; /* Adjust the gap as needed */
    height: auto;
  }

  body h1 {
    font-size: 20px;
  }
}
