html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  background-image: url(../../images/bamboo-background-1.png);
  /* Set background size and properties */
  background-size: cover; /* You can use 'contain' or other values depending on your needs */
  background-repeat: no-repeat;
  background-position: center center; /* You can adjust the position as needed */

  /* Set other styles if necessary */
  margin-top: 0;
  margin: 0; /* Remove default 
    margin */
  padding: 0; /* Remove default padding */
  height: calc(100%);
}

#main-header {
  text-align: center;
  margin-top: 0;
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 800;
  font-style: bold;
}

.section-header {
  text-align: center;
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 700;
  font-style: bold;
}

.section-text {
  width: 400px;
  display: flex;
  margin: auto;
  padding-top: 0;
  justify-content: center;
  text-align: center;

  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#mission-statement {
  font-style: italic;
}

#the-problem {
  text-align: left;
}

@media (max-width: 400px) {
  .section-text {
    width: 300px;
  }
}
